    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
    }

    body {
        min-height: 100vh;
        /* background: #F0F4FF; */
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 85px;
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        background: #161a2d;
        padding: 25px 20px;
        transition: all 0.4s ease;
    }

    .main {
        margin-left: 45px;
        padding: 10px;
        transition: all 0.4s ease;
    }

    .sidebar:hover {
        width: 225px;
    }

    .sidebar:hover ~ .main {
        margin-left: 185px;
    }

    .sidebar .sidebar-header {
        display: flex;
        align-items: center;
    }

    .sidebar .sidebar-header img {
        width: 45px;
        border-radius: 50%;
    }

    .sidebar .sidebar-header h2 {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 600;
        white-space: nowrap;
        margin-left: 20px;
    }

    .sidebar-links h4 {
        color: #fff;
        font-weight: 500;
        white-space: nowrap;
        margin: 10px 0;
        position: relative;
    }

    .sidebar-links h4 span {
        opacity: 0;
    }

    .sidebar:hover .sidebar-links h4 span {
        opacity: 1;
    }

    .sidebar-links .menu-separator {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #4f52ba;
        transform-origin: right;
        transition-delay: 0.2s;
    }

    .sidebar:hover .sidebar-links .menu-separator {
        transition-delay: 0s;
        transform: scaleX(0);
    }

    .sidebar-links {
        list-style: none;
        margin-top: 20px;
        height: 80%;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .sidebar-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar-links li a {
        display: flex;
        align-items: center;
        gap: 0 20px;
        color: #fff;
        font-weight: 500;
        white-space: nowrap;
        padding: 15px 10px;
        text-decoration: none;
        transition: 0.2s ease;
    }

    .sidebar-links li a:hover {
        color: #161a2d;
        background: #fff;
        border-radius: 4px;
    }

    .sidebar-links li form {
        display: flex;
        align-items: center;
        gap: 0 20px;
        color: #fff;
        font-weight: 500;
        white-space: nowrap;
        padding: 15px 10px;
        text-decoration: none;
        transition: 0.2s ease;
        background: none;
        border: none;
        cursor: pointer;
    }

    .sidebar-links li form:hover {
        color: #161a2d;
        background: #fff;
        border-radius: 4px;
    }

    .sidebar-links li form button {
        all: unset;
        display: flex;
        align-items: center;
        gap: 0 20px;
        width: 100%;
        cursor: pointer;
    }

    .user-account {
        margin-top: auto;
        padding: 12px 10px;
    }

    .user-profile {
        display: flex;
        align-items: center;
        color: #161a2d;
        margin-left: 10px;
    }

    .user-profile img {
        width: 35px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -5px;
    }

    .user-profile h3 {
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 600;
    }

    .user-profile span {
        margin-left: 10px;
        font-size: 0.775rem;
        font-weight: 600;
    }

    .user-detail {
        margin-left: 23px;
        white-space: nowrap;
    }

    .sidebar:hover .user-account {
        background: #fff;
        border-radius: 4px;
    }

    /* New styles below */

    .container {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .add-button {
        background-color: #4f52ba;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 18.75%;
    }

    .filter-container {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .filter-container > * {
        flex: 1;
    }

    select, .search-bar input {
        width: 100%;
        font-size: 12px;
        padding: 12px 12px;
        border: 1px solid #4f52ba;
        border-radius: 5px;
        background-color: #fff;
        transition: border-color 0.3s;
    }

    .search-bar input {
        outline: none;
    }

    select:focus, .search-bar input:focus {
        border-color: #4f52ba;
        box-shadow: 0 0 5px rgba(79, 82, 186, 0.5);
    }

    .select2-container {
        width: 100%;
    }

    .select2-selection {
        width: 100%;
        font-size: 12px;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        transition: border-color 0.3s;
        border: 1px solid #4f52ba !important;
    }

    .select2-selection:focus {
        border-color: #4f52ba !important;
        box-shadow: 0 0 5px rgba(79, 82, 186, 0.5) !important;
    }

    .select2-selection__placeholder {
        color: #4f52ba;
        font-size: 12px;
    }

    .select2-container--open .select2-selection {
        border-color: #4f52ba;
        box-shadow: 0 0 5px rgba(79, 82, 186, 0.5);
    }

    .select2-results__option {
        font-size: 12px;
        padding: 10px;
    }

    .select2-results__option--highlighted {
        background-color: #4f52ba !important;
        color: #fff;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        border-radius: 8px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
    }

    td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    th {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    th {
        background-color: #4f52ba;
        color: #fff;
    }

    td {
        font-weight: normal;
    }

    .no-data {
        text-align: center;
        color: rgba(79, 82, 186, 0.2);
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: rgba(79, 82, 186, 0.2);
    }

    th:nth-child(1), td:nth-child(1) {
        width: 2.5%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 20%;
        text-align: center;
    }

    th:nth-child(3), td:nth-child(3) { 
        width: 7%;
        text-align: center;
    }

    th:nth-last-child(2), td:nth-last-child(2) {
        width: 20%;
    }

    th:nth-last-child(1), td:nth-last-child(1) {
        width: 20%;
        text-align: center;
    }

    .table-container {
        margin-top: 15px;
    }

    .add-button:hover {
        background-color: #3f42a0;
    }
