.filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.filter-container > * {
    flex: 1;
}

select, .search-bar input {
    width: 100%;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #4f52ba;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.search-bar input {
    outline: none;
}

select:focus, .search-bar input:focus {
    border-color: #4f52ba;
    box-shadow: 0 0 5px rgba(79, 82, 186, 0.5);
}

.select2-container {
    width: 100%;
}

.select2-selection {
    width: 100%;
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
    border: 1px solid #4f52ba !important;
}

.select2-selection:focus {
    border-color: #4f52ba !important;
    box-shadow: 0 0 5px rgba(79, 82, 186, 0.5) !important;
}

.select2-selection__placeholder {
    color: #4f52ba;
    font-size: 12px;
}

.select2-container--open .select2-selection {
    border-color: #4f52ba;
    box-shadow: 0 0 5px rgba(79, 82, 186, 0.5);
}

.select2-results__option {
    font-size: 12px;
    padding: 10px;
}

.select2-results__option--highlighted {
    background-color: #4f52ba !important;
    color: #fff;
}